.App-header {
  height: 100px;
  padding: 20px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.body{
  display: flex;
  flex-direction: column;
}

.image-card{
  margin:1em;
  padding:1em;
}

.image-card>header{
  font-size: 2em;
}

.Link {
  text-decoration-line: none;
  color: black;
}

.title {
  font-size: 1.6em;
}

.paragraph {
  font-size: .8em;
}

.tip {
  text-align: center;
  font-size: .5em;
  margin-top: 1em;
}

.breadcrumb {
  list-style: none;
  display: flex;
  margin: 1em 0 0 -1em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(126, 126, 126);
}

.breadcrumb li {
  margin: 0 .5em 1.5em 0.5em;
  color: black;
}

.breadcrumb li+li::before {
  color: #b5b5b5;
  content: "\0002f";
  margin-right: 1em;
}

.photoList {
  margin: 1em;
}

.listTitle {
  margin-top: 1em;
}
